.container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "content";
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    width: 100vw;
}


.content {
    grid-area: content;
    background-color: white;
    width: auto;

}

.content-container {
    margin: 10% 10%;
    width: 80%;
}


header {
    text-align: center;
    margin-top: 20px;
}

.bold-text {
    font-weight: bold;;
}

.box {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 15px 5px;
}





.codesample {
    background-color: #6d9eeb;
    padding: 0px;
    border: solid 3px;
    margin: 5px 0px;
    font-size: 10pt;
    font-weight: bold;
    white-space: nowrap;
}

pre.single {
    overflow-y: auto;
    margin: 5px;
    white-space: nowrap;
    padding: 10px;
    font-size: 12pt;

  }

pre.block {
    font-size: 12pt;
    text-align: left;
}

blockquote {
    font-style: italic;
}


.codefont {
    font-weight: bold;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
}

.amatic {
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
}

.amatic2 {
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}



.center {
    text-align: center;
    line-height: 10px;
}

.align-right {
    margin-left: 80%;
}

.box-flex {
    background-color: blueviolet;
    color: white;
    text-align: center;
    width: 100px;
    padding: 15px 5px;
    margin: 1px;
}

.flex-item-1 {
    width: 100px;
}

.flex-item-2 {
    width: 100px;
}

.flex-item-3 {
    width: 100px;
}

.flex-example-1 {
    border: 3px black solid;
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}


.flex-grow-3 {
    flex-grow: 3;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-with-shrink {
    flex: 0 1;
}

.flex-grow-basis-200px {
    flex: 1 0 200px;
}

.flex-shrink-basis-200px {
    flex: 0 1 200px;
}


.flex-shrink-basis-50px {
    flex: 0 1 50px;
}

.flex-shrink-grow-basis-200px {
    flex: 1 1 200px;
}


.flex-shrink-grow-basis-50px {
    flex: 1 1 50px;
}


.flex-shrink-grow-basis-2-200px {
    flex: 2 2 200px;
}

.flex-shrink-grow-basis-2-50px {
    flex: 2 1 50px;
}




p a, p a:visited {
    color: blue;
}

